body {
    background-color: rgb(80, 75, 75);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: cadetblue;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #2fc721;
  }
}

.standard-text {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;

}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container {
  width: 50%;
  height: 25%;
  padding: 10px;
  padding-left: 12.5%;
}
.one {
  width: 75%;
  height: 375px;
  max-height: 375px;
  float: left;
  background-color: rgba(117, 113, 113, 0.5);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.two {
  height: 125px;
  float: right;
  /* padding-left: 5%; */
  width: 25%;
}

.three {
  height: 125px;
  float: left;
  /* padding-left: 5%; */
  width: 25%;
}

.four {
  width: 75%;
  height: 375px;
  background-color: rgba(117, 113, 113, 0.5);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}